<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css"/>
    <link rel="stylesheet" href="/css/auth.css"/>
</head>

<body>
    
    <%- include('../includes/navigation.ejs') %>
    
    <main>
        <h1 class="text-center"><%= pageHeader %></h1>
        <% if (error) { %>
            <p class="alert"><%= error %></p>
        <% } %>
        <form class="login-form" action="<%= actions.loginHandler %>" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
            <div class="form-control <% if (errors.email) { %> has-error <% } %>">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" />
                <% if (errors.email) { %>
                    <p class="alert"><%= errors.email %></p>
                <% } %>
            </div>
            <div class="form-control <% if (errors.password) { %> has-error <% } %>">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" />
                <% if (errors.password) { %>
                    <p class="alert"><%= errors.password %></p>
                <% } %>
            </div>
            <button type="submit" class="btn">
                Login
            </button>
            <p class="text-center">
                <a href="<%= links.resetPassword %>">Reset password</a>
            </p>
        </form>
    </main>
    
    <%- include('../includes/scripts.ejs') %>

</body>

</html>
