<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <h1><%= pageHeader %></h1>
        <iframe
            src="http://localhost:8080?location=0000000106&livedata=occupancy&jwt=<%= token %>"
            style="display: block; width: 800px; height: 600px; margin: 15px auto; border: 2px solid red;" frameborder="0"
        >
        </iframe>
        <script>
            const mobileMap = document.querySelector('iframe').contentWindow;
            const sendMessage = (data) => mobileMap.postMessage(data, 'http://localhost:8080');
            const initWeb = () => sendMessage({ type: "INIT", payload: { token: '<%= token %>' } }, window.location.origin);
            const changeDimension = (dimension) => sendMessage({ type: "ACTION", payload: { name: 'showLiveData', args: [dimension] } });
            const highlightLocation = (line, fill, locationId) => sendMessage({ type: "ACTION", payload: { name: 'highlightLocation', args: [line, fill, locationId] } });
            window.onmessage = (e) => {
                if (e.origin === 'http://localhost:8080') {
                    console.log('From mobile map: ', e.data);
                }
            }
        </script>
        
        <% if (products.length) { %>
            <div class="grid">
                <% products.forEach(({ _id: id, title, price, description, image }) => { %>
                    <article class="card product-item">
                        <header class="card__header">
                            <h3 class="product__title"><%= title %></h3>
                        </header>
                        <div class="card__image">
                            <img src="<%= image.src %>" alt="<%= image.alt %>">
                        </div>
                        <div class="card__content">
                            <p class="product__price"><strong>$<%= price %></strong></p>
                            <p class="product__description"><%= description %></p>
                        </div>
                        <div class="card__actions">
                            <% if (user) { %>
                                <%- include('../includes/add-to-cart.ejs', { action: actions.addToCart, id }) %>
                                <% if (user.isAdmin) { %>
                                    <%- include('../includes/delete-product.ejs', { action: actions.deleteProduct, id }) %>
                                    <%- include('../includes/edit-product.ejs', { action: actions.editProduct, id }) %>
                                <% } %>
                            <% } %>
                            <a href="<%= actions.viewProduct.replace(':id', id) %>" class="btn" type="submit">
                                Details
                            </a>
                        </div>
                    </article>
                <% }) %>
            </div>
        <% } else { %>
            <div class="notice notice-info">
                There are no products.
            </div>
        <% } %>
    </main>
    <%- include('../includes/scripts.ejs') %>
</body>

</html>
