<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <h1><%= pageHeader %></h1>
        <% if (products.length) { %>
            <div class="grid">
                <% products.forEach((product) => { %>
                    <article class="card product-item">
                        <header class="card__header">
                            <h3 class="product__title"><%= product.title %></h3>
                        </header>
                        <div class="card__image">
                            <img src="<%= product.image.src %>" alt="<%= product.image.alt %>">
                        </div>
                        <div class="card__content">
                            <p class="product__price"><strong>$<%= product.price %></strong></p>
                            <p class="product__description"><%= product.description %></p>
                        </div>
                        <div class="card__actions">
                            <% if (user) { %>
                                <%- include('../includes/add-to-cart.ejs', { action: actions.addToCart, id: product._id }) %>
                                <% if (user.isAdmin) { %>
                                    <a href="<%= actions.editProduct.replace(':id', product._id) %>" class="btn" type="submit">
                                        Edit
                                    </a>
                                    <button
                                        class="btn delete-btn"
                                        data-product-id="<%= product._id %>"
                                        data-action="<%= actions.deleteProduct %>"
                                    >
                                        Delete
                                    </button>
                                <% } %>
                            <% } %>
                            <a href="<%= actions.viewProduct.replace(':id', product._id) %>" class="btn" type="submit">
                                Details
                            </a>
                        </div>                       
                    </article>
                <% }) %>
            </div>
            <%- include('../includes/pagination.ejs', { pages, current: currentPage, hasNextPage, hasPreviousPage }) %>
        <% } else { %>
            <div class="notice notice-info">
                There are no products.
            </div>
        <% } %>
    </main>
    <%- include('../includes/scripts.ejs') %>
    <script src="/js/products-actions.js"></script>
</body>

</html>
